@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	box-sizing: border-box;
}

.container {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	max-width: 80%;
	margin: 20px auto;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

.container>form {
	margin: 10px auto;
}

.container>form>input {
	margin: 10px;
}

.flex-container {
	padding: 30px 0;
	max-width: 1300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.flex-item {
	flex: 0 1 auto;
	align-self: auto;
	background-color: lightblue;
}

.flex-item:hover>a>.card-img {
	opacity: 0.5;
}

.flex-item:hover>.card-body>p {
	animation: anim 1s;
	position: relative;
}

@keyframes anim {
	0% {left: 0;}
	25% {left: 40px;}
	50% {left: -40px;}
	65% {left: 20px;}
	80% {left: -20px;}
	100% {left: 0px;}
}